.idea
connectX/connectX/.ipynb_checkpoints/
pipeline.log
connectX/resources/games/train_priors_p1.csv
connectX/resources/games/train_priors_p2.csv
connectX/resources/games/train_state_value_p1.csv
connectX/resources/games/train_state_value_p2.csv
connectX/resources/models/best_priors_model_p1.h5
connectX/resources/models/best_priors_model_p2.h5
connectX/resources/models/best_state_value_model_p1.h5
connectX/resources/models/best_state_value_model_p2.h5
connectX/resources/models/candidate_priors_model_p1.h5
connectX/resources/models/candidate_priors_model_p2.h5
connectX/resources/models/candidate_state_value_model_p1.h5
connectX/resources/models/candidate_state_value_model_p2.h5
error.log
connectX/connectX/pyvenv.cfg
